<!DOCTYPE html>
<html lang="en">
   <head>
         <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
   </head>

   <body>
      <div class="login-page">
         <div class="form">
            {% if not short_url %}
               <form method="post" class="login-form" action="">
                  <input id="url" name="url" type="url" placeholder="long url" value="{{long_url_prefilled}}"/>
                  Domain: <select name="domain" id="domain">
                     {{domain | safe}}
                  </select>
                  <br><p> </p>
                  <input id="short" name="short" type="text" placeholder="short name" value="{{short_url_prefilled}}"/>
                  <button>short</button>
                  <p class="message">&copy; Made by jonasled {{builddate}}</p>
               </form>
            {% else %}
               <h3>Your shortened URL is: <a href="http://{{short_url}}"> {{short_url}}</a></h3>
               <img src="data:image/jpeg;base64,{{qrcode}}">
            {% endif %}
         </div>
      </div>
      <div id="snackbar">URL already used, please try another one</div>
      {% if alreadychoosen %}
      <script>
         var x = document.getElementById("snackbar");
         x.className = "show";
         setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
      </script>
      {% endif %}

      {% if domain_prefilled %}
         <script>
            var x = document.getElementById("domain");
            x.selectedIndex = {{domain_prefilled}};
         </script>
      {% endif %}
   </body>
</html>